.app-note-title {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  padding-top: 4rem;
  
}

.title-note {
  color: #131927;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

}

#title {
  font-size: 14px;
  font-weight: 400;
  color: #9EA2AE;
  background-color: #F9FAFB;
  border-radius: 8px;
  border-color: #E5E7EA;
  height: 35px;
}

@media (max-width: 768px) {
  .app-note-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 1.5rem;
  margin: 0;
}

}
