
@media (max-width: 768px) {


.header-row {
  position: relative;
  display: flex;
  justify-content: center;  
  align-items: center;
}



.user-name-header {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-bottom: 8px;
    text-align: center; 
  }



.backbtn {
  position: absolute;
  left: 0; 
  color: #4E61F6;
  background-color: #ffff;
  border-color: #ffff;
  border-style: none;
  display: flex;           
  align-items: center; 
  margin-left: 2rem;
  margin-top: 1.5rem;
}




.mobile-divider {
    height: 1px;
    background-color: #4E61F6;
    margin: 10px -15px 15px -15px;
    display: block;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end; 
    padding: 0 15px 16px 15px;
  }

.add-note-btn {

  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  background-color: #4E61F6;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 1rem;

}
  
}


 
